.App {
  text-align: center;
  background-color: #5D5C61;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  font: bold 16px Arial;
  color: #CCCCCC;
  text-decoration: none;
  background-color: #7395AE;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #557A95;
  border-bottom: 2px solid #557A95;
  border-left:2px solid #CCCCCC;
  
}

.navigation {
  margin-top: 1em;
}
/* Color Palette
#5D5C61
#379683
#7395AE
#557A95
#B1A296
#CCCCCC white
*/
